<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Nuova verifica 
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 
  form: registrationForm
 -->

<ion-content [fullscreen]="true">
  <!-- NEW <form id="regForm" [formGroup]="registrationForm"> -->
    <!-- <form id="regForm" [formGroup]="registrationForm"> -->
  <mat-vertical-stepper #stepper [linear]="isLinear" (selectionChange)="onStepChange($event)">
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
      <!-- OLD <form [formGroup]="firstFormGroup"> -->
        <ng-template matStepLabel>Dati relativi l'impianto</ng-template>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Codice Impianto</mat-label>
                <input matInput formControlName="codice" placeholder="Example: MWZYC" required>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Tipologia Impianto</mat-label>
                <mat-select formControlName="tipologia" required>
                  <mat-option *ngFor="let tipologia of tipologie" [value]="tipologia.value">
                    {{tipologia.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="md hydrated">
              <label class="radio-margin">Destinazione d'uso:</label>
              <mat-radio-group formControlName="destinazione" required>
                <!--
                  [ngClass]="{
                    'mat-radio-outer-circle-error': true
                  }"
                -->
                <mat-radio-button class="radio-margin" value="abitativo">Abitativo</mat-radio-button>
                <mat-radio-button class="radio-margin" value="altro">Altro</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="firstFormGroup.value.destinazione === null && isSubmitting">
                Destination is required, plese click
              </mat-error>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Combustibile</mat-label>
                <mat-select formControlName="combustibile">
                  <mat-option *ngFor="let combustibile of combustibili" [value]="combustibile.value">
                    {{combustibile.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="categoria">
                  <mat-option *ngFor="let categoria of categorie" [value]="categoria.value">
                    {{categoria.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Volumetria riscaldata m3:</mat-label>
                <input matInput formControlName="volumetria" placeholder="Non saprei">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Responsabile</mat-label>
                <input matInput formControlName="responsabile" placeholder="Nome, cognome" required>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row class="mat-form-field-wrapper ion-justify-content-center" >
            <ion-col size="6">
              <button mat-raised-button (click)="setPhoto($event)"
                [color]="firstFormGroup.value.photo === null && isSubmitting ? 'warn' : ''">
                Photo
              </button>
              <!-- <mat-error *ngIf="firstFormGroup.value.photo === null">
                Photo is required, plese click
              </mat-error> -->
            </ion-col>
            <ion-col size="6">
              <button mat-raised-button center (click)="setCurrentLocation($event)" 
                [color]="firstFormGroup.value.address === null && isSubmitting ? 'warn' : ''">
                Località
              </button>
              <!-- <mat-error *ngIf="firstFormGroup.value.address === null && isSubmitting">
                Geolocalization is required, plese click
              </mat-error> -->
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field appearance="fill">
                <mat-label>Note</mat-label>
                <textarea matInput></textarea>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <p>
          Form Status: {{ firstFormGroup.status }}
        </p> -->
        <div>
          <button mat-button matStepperNext type="button" (click)="onMatStepperNext()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Effettua Verifica</ng-template>
        <ion-grid>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Costruttore</mat-label>
                <input matInput formControlName="costruttore" placeholder="Ex. Main, Log, N, ..." required>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="md hydrated">
              <label class="radio-margin">Tiraggio:       </label>
              <mat-radio-group formControlName="tiraggio">
                <mat-radio-button class="radio-margin" value="forzato">Forzato</mat-radio-button>
                <mat-radio-button class="radio-margin" value="naturale">Naturale</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="firstFormGroup.value.tiraggio === null">
                Tiraggio is required, plese click
              </mat-error>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Destinazione d'uso generatore:</mat-label>
                <input matInput formControlName="destGeneratore">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Prot.Foc.Nom:</mat-label>
                <input matInput formControlName="prot">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Modello:</mat-label>
                <input matInput formControlName="modello">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="md hydrated">
              <label class="radio-margin">Tipo:           </label>
              <mat-radio-group formControlName="tipo">
                <mat-radio-button class="radio-margin" value="aperto">Aperto</mat-radio-button>
                <mat-radio-button class="radio-margin" value="chiuso">Chiuso</mat-radio-button>
              </mat-radio-group>
              <mat-error *ngIf="firstFormGroup.value.tipo === null">
                Tipo is required, plese click
              </mat-error>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Fascia di potenza:</mat-label>
                <mat-select formControlName="fascia">
                  <mat-option *ngFor="let fascia of fascie" [value]="fascia.value">
                    {{fascia.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Matricola:</mat-label>
                <input matInput formControlName="matricola">
              </mat-form-field>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <mat-form-field class="full-width-input">
                <mat-label>Scarico fumi:</mat-label>
                <mat-select formControlName="scarico">
                  <mat-option *ngFor="let scarico of scarichi" [value]="scarico.value">
                    {{scarico.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <button mat-button matStepperPrevious type="button" (click)="onMatStepperPrevious($event)">Back</button>
          <button mat-button matStepperNext type="button" (click)="onMatStepperNext()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <ion-grid>
          <ion-row>
            <ion-col class="md hydrated">
              <section class="radio-section">
                <label class="radio-margin">Esito:</label>
                <mat-radio-group formControlName="esito">
                  <mat-radio-button class="radio-margin" *ngFor="let esito of esiti" [value]="esito.value" (change)="onChangeRadioEsito($event)">
                    {{esito.viewValue}}
                  </mat-radio-button>
                </mat-radio-group>
              </section>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div>
          <button mat-raised-button (click)="onSubmit()" [hidden]="thirdFormGroup.value.esito === null">{{ submitLabel }}</button>
          <button mat-button matStepperPrevious type="button" (click)="onMatStepperPrevious()">Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </form>
    </mat-step>
  </mat-vertical-stepper>
  
</ion-content>
