<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Targhe
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">

  <mat-card>
    <mat-card-content>

      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="mat-h3 mat-title secondary-text">Le tue targhe residue sono:</div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <div class="font-size-54 font-weight-300 line-height-1 counter-targhe"> {{ counter }} </div>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col>
            <p class="mat-subheading-1">
              <!-- [color]="coDeliverySlotView.slotId === bookedSlot.slotId ? 'black' : 'grey'" -->
              <mat-icon 
                [inline]="true" 
                [color]="lastMove > 0 ? 'success' : 'warn'"
              >{{ lastMove > 0 ? 'north' : 'south'}}</mat-icon>{{ labelLastMove }} dall'ultimo movimento
            </p>
          </ion-col>
        </ion-row>
        <button mat-raised-button color="primary" (click)="handleClickAcquista()">Acquista</button>
      </ion-grid>

    </mat-card-content>
  </mat-card>
  
</ion-content>
